<h1><%= @user.id %> の名前変更</h1>
<%= form_with(model: @user, local: true) do |f| %>
      
      <div class="form-group">
        <%= f.label :name, 'Name' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
       <%= f.submit 'Sign up', class: 'btn btn-primary btn-block' %>
<% end %>